:root{
    /* Global variable colors*/
    --color1: #f9b94b;
    --color2: #141852;
    --color3: #6b4984;
    --color4: #855988;
    --color5: #483475;
    --color6: #b64545;
    --white: #ffffff;
    --black: #000000;
}

*{
    /* Global styles*/
    text-decoration: none;
    font-family: arial black;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    text-shadow: bold;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(media/background.jpg);
    background-size: 100%;
    /*background no repeat set to cover*/
    background-size: cover;

    align-items: center;
}

.config{
    margin-top:0px;
}

.title{
    color: --white;
    margin-top: 20px;
    font-size: 100px;
    letter-spacing: 0.2em;
    text-shadow: 1px 1px 5px var(--black);
    letter-spacing: 0.1em;
}

/*FORM CSS*/

.ftitle{
    margin:20px;
    font-size: 25px;
    text-shadow: 1px 1px 5px var(--black);
    letter-spacing: 0.1em;
}

.panel #test{
    display: inline-block;
}

.textbox{
    border: 0px;
    background-color: var(--white);
    color: var(--black);
    margin: 3px;
}

#rangeInput {
    margin-bottom: 20px;
}

.button{
    border:0px;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    margin-top: 20px;
    padding: 5px;
    background-color: var(--color1);
    color: #ffff;
    font-size: 20px;
    box-shadow: 0px 1px 5px 1px black;
}

/*PARTY CSS*/
.board{
    width: 100%;
    margin: auto;
}

.playersinfo .playerinfo{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 10px 1px black;
    border-radius: 5px;
}


.boardTable{
    width: 75%;
    margin: auto;
    padding: 10px;
}

.card{
    width: auto;
}

.card img{
    width:50%;
    height:50%;
    cursor: pointer;
}

.noFlipCard{
    background-color: var(--color4);
}

.flipCard{
    background-color: var(--color5);
    border-radius: 5px;
}

/* Mobile mediaquery */
@media screen and (max-width: 600px) {
    .title{
        font-size: 15vw;
    }
    
    .ftitle{
        margin-bottom: 1vh;
        font-size: 7vw;
    }

    .button{
        font-size: 5vw;
    }

    .card img{
        width:75%;
        height:75%;
        border-radius: 5px;
    }
}


