:root{
    /* Global variable colors*/
    --color1: #f9b94b;
    --color2: #141852;
    --color3: #6b4984;
    --color4: #855988;
    --color5: #483475;
    --color6: #b64545;
    --white: #eeeeee;
    --black: #292929;
}

*{
    /* Global styles*/
    text-decoration: none;
    font-family: arial black;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    text-shadow: bold;
    letter-spacing: 0.2em;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    background-image: url(media/background.jpg);
    background-size: 100%;
    background-size: cover;
}

.button{
    background-color: var(--color1);
    cursor: pointer;
    margin: 20px;
    padding: 7px;
    color: var(--white);
    font-size: 20px;
    box-shadow: 0px 1px 5px 1px black;
    text-shadow: 1px 1px 5px var(--black);
}

/*#region FORM PAGE CSS Global */
.allForm{
    max-width: 75%;
    max-height: 75%;
    margin: auto;
}

.title{
    color: var(--white);
    margin-top: 25px;
    font-size: 75px;
    text-shadow: 1px 1px 5px var(--black);
}

.ftitle{
    margin:20px;
    font-size: 30px;
    text-shadow: 1px 1px 5px var(--black);
}

.panel #value{
    display: inline-block;
}

.textbox{
    background-color: var(--white);
    color: var(--black);
    margin: 5px;
}


#timeinput{
    color: var(--black);
    background-color: var(--white);
}
/*#endregion*/


/*#region PARTY CSS Global */
.playersinfo .playerinfo{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 10px 1px black;
    text-shadow: 1px 1px 5px var(--black);
}

.board{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.row{
    justify-content: center;
    display: flex;
    max-width: 100%;
    flex-direction: row;
}

.card {
    max-width: 25%;
}
.card img{
    max-width: 100%;
    cursor: pointer;
}

.noFlipCard{
    background-color: var(--color4);
}

.flipCard{
    background-color: var(--color5);
    border-radius: 5px;
}
/*#endregion*/

/*--------------------------------------------------*/

/*#region Tablet media query */
@media only screen and (max-width: 768px) {
        /*#region Form css*/
        .title{
            font-size: 40px;
        }
        
        .ftitle{
            margin-bottom: 10px;
            font-size: 20px;
        }
    
        .panel #value{
            display: block;
        }
        /*#endregion*/

        /*#region Party css*/
        .board{
            width: 60%;
        }
        /*#endregion*/

}
/*#endregion*/


/*#region Mobile mediaquery */
@media screen and (max-width: 600px) {
    .button{
        font-size: 15px;
    }

    /*#region Form css*/
    .title{
        font-size: 40px;
    }
    
    .ftitle{
        margin-bottom: 10px;
        font-size: 20px;
    }

    .panel #value{
        display: block;
    }
    /*#endregion*/
    
    /*#region Party css*/
    .board{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        margin-bottom: 10px;
    }
    /*#endregion*/
}
/*#endregion*/


