:root{
    /* Global variable colors*/
    --color1: #f9b94b;
    --color2: #4e6c84;
    --color3: #915135;
    --color4: #b55f5d;
    --color5: #72824f;
    --white: #ffffff;
    --black: #000000;
}

*{
    /* Global styles*/
    text-decoration: none;
    font-family: arial black;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(media/background.webp);
    background-size: 100%;
    align-items: center;
}

.title{
    color: --white;
    margin-top: 20px;
    font-size: 100px;
    text-shadow: --black 0px 2px 20px;
    letter-spacing: 0.2em;
}

/*FORM CSS*/

#ftext{
    margin-top: 20px;
}

.ftitle{
    margin:0px;
    font-size: 25px;
}

.panel #test{
    display: inline-block;
}

#textbox{
    border: 0px;
    background-color: var(--white);
    color: var(--black);
    margin: 3px;
}

.button{
    border:0px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 50px;
    padding: 10px;
    background-color: var(--color1);
    color: #ffff;
    border-radius: 5px;
    font-size: 25px;
}

/*PARTY CSS*/
.board{
    width: 100%;
    margin: auto;
}

.boardTable{
    width: 85%;
    margin: auto;
    padding: 5%;
}

.card{
    width: auto;
}

.card img{
    width:50%;
    height:50%;
    border-radius: 5px;
    cursor: pointer;
}

.noFlipCard{
    background-color: var(--color4);
    border-radius: 5px;
}

.flipCard{
    background-color: var(--color5);
    border-radius: 5px;
}

/* Mobile mediaquery */
@media screen and (max-width: 600px) {
    .title{
        font-size: 15vw;
    }
    
    .ftitle{
        margin-bottom: 1vh;
        font-size: 7vw;
    }

    .button{
        font-size: 5vw;
    }

    .card img{
        width:75%;
        height:75%;
        border-radius: 5px;
    }

}